<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
</head>
<body>
	<form method="post">
		<label>Введите id абонента</label>
		<input type="text" name="id" placeholder='Активных абонентов: <%=b%>'><br><br>
		<button type="submit">Выбрать</button>
		<br><br>
	<a href="/list">Список всех отправленных данных</a>		
	</form>
</body>
</html>