<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>list</title>

</head>
<body class="container">
	<form method="post">
		<label>Введите внешний ip-адрес</label>
		<input type="text" name="ip1" placeholder='Вида: 00.00.00.00'>
		<br><br>
		<label>Введите внутренний ip-адрес</label>
		<input type="text" name="ip2" placeholder='Вида: 00.00.00.00'>
		<br><br>
		<label>Имеет ли пользователь интерфейс Lte?</label>
		<input type="text" name="lte" placeholder='Введите yes, если имеет'>
		<br><br>
		<label>Имеет ли пользователь интерфейс LoRa?</label>
		<input type="text" name="lora" placeholder='Введите yes, если имеет'>
		<br><br>
		<label>Имеет ли пользователь интерфейс WiFi?</label>
		<input type="text" name="wifi" placeholder='Введите yes, если имеет'>
		<br><br>
		<button type="submit">Отправить</button>
	</form>

</body>
</html>