<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>list</title>

</head>
<body class="container">
	<form method="post">
		<label>Введите id абонента, которого хотите удалить</label>
		<input type="text" name="id" placeholder='Активных абонентов: <%=b%>'><br><br>
		<button type="submit">Выбрать</button>
		<br><br>
	</form>
</body>
</html>