<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Главная страница админа</title>
</head>
<body>
	<form method="post">
	<a href="/admin/add">Добавить нового пользователя</a>	<br><br>
	<a href="/admin/delete">Удалить пользователя</a>
	</form>
</body>
</html>