<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>list</title>

</head>
<body class="container">
  <label>Элементы массива</label><br><br>
  <ul>
  <% arr.forEach(function(item){ %>    
		<li>
		<%= item%>
		</li>
  <% });  %>
</ul>
<a href="/">Вернуться к форме отправки данных</a>
</body>
</html>